.search-bar {
    margin: 20px;
    text-align: center;
}

.search-bar input{
    width: 80%;
    border-radius: 4px;
    padding: 5px;
}

.details {
    background-color: #e5dedf;
    color: #d60210;
    padding: 1rem;
    margin-bottom: 1rem;
}

.navbar{
    background-color:#d60210; 
}

.list-group{
    max-height: 575px;
    overflow-y: auto;
    padding: 5px;
}

.list-group-item{
    cursor: pointer;
}

.list-group-item:hover{
    background-color:#e5dedf; 
}